{% extends 'artwork/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
ArtWork | New Creator
{% endblock %}
{% block main-area %}
<div class="container px-5 px-lg-5 my-4">
    <h1>새 Creator 만들기</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form | crispy}}
        <br>
        <button type="submit" class="btn btn-outline-dark float-right"
                style="background-color:pink;border-color:pink">프로필 수정</button>
    </form>
        {{form.media}}
</div>
{% endblock %}