<!-- Footer-->
<footer class="py-1 bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand navbar-light container px-4 px-lg-2">
            <div class="navbar-nav">
                <ul class="navbar-nav">
                    <li class="nav-item" style="padding-left:0;">
                        <a class="nav-link text-white" href="/about_us/">회사소개</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto">
                <div style='float:right;padding-right:64px;'>
                    <a href="/"><font class="eng gray" style="color:gray;font-size:9px">HOME</font></a> &nbsp;&nbsp;
                    <a href="#" onclick="goTop();return false;"><font class="eng gray" style="color:gray;font-size:9px">TOP</font></a>
                </div>
            </ul>
        </nav>

        <div class="px-4 my-4" style="color:gray;font-size:12px">
            <div>주소 : 서울시 영등포구 문래로 8길 /대표전화: 02-999-9999 / E-mail : artwork@artwork.kr</div>
            <div>회사명 : ㈜아트워크 / 대표자 : 나혜지</div>
        </div>
        <p class="mb-0 text-center" style="color:gray;font-size:14px">Copyright &copy; Duksung Internet Programming 2021</p>
    </div>

</footer>
