{% load socialaccount %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"> <!--container 좌우여백줌-->
    <div class="container-fluid mx-3">
        <a class="navbar-brand" style="color:pink" href="/">AW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artwork/">작품</a>
                </li>
                {% if user.is_authenticated %}
                <!-- 로그인 했을 때만 mypage 활성화 -->
                <li class="nav-item">
                    <a class="nav-link" href="/mypage/">마이페이지</i></a>
                </li>
                {% else %}
                <!-- 로그인 안했을 시 로그인 하라는 모달을 띄운다 -->
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">마이페이지</i></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/about_us/">아트워크</i></a>
                </li>
            </ul>
            <!-- search form -->
            <div class="form-inline ml-auto">
                <input class="form-control mr-sm-1" type="text" id="search-input" placeholder="Search"
                       aria-label="Search" aria-describedby="button-search">
                <button class="btn btn-dark my-2 my-sm-0" type="button" onclick="searchWork()"><i class="fas fa-search"
                                                                                                  style="color:pink"></i>
                </button>
            </div>
            <ul class="navbar-nav ">
                {% if user.is_authenticated %}
                <li class="nav-item dropleft">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                        <img class="rounded-circle" width="25px"
                             src="{{user.socialaccount_set.all.0.get_avatar_url}}">
                        {% else %}
                        <img class="rounded-circle" width="25px"
                             src="https://doitdjango.com/avatar/id/403/06906de089c1792c/svg/{{user.email}}/">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
                        <div class="dropdown-header text-center">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <img class="img-fluid rounded-circle mb-4" width="80px"
                                 src="{{user.socialaccount_set.all.0.get_avatar_url}}"/>
                            {% else %}
                            <img class="img-fluid rounded-circle mb-4" width="80px"
                                 src="https://doitdjango.com/avatar/id/403/06906de089c1792c/svg/{{user.email}}/">
                            {% endif %}
                            <h4 class="fs-3 fw-bolder">{{user}}</h4>
                            <p class="mb-0">{{user.email}}</p>
                        </div>

                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="http://127.0.0.1:8000/mypage/">마이페이지</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/mywork/">나의 작품</a>
                        <hr class="dropdown-divider">
                        <a class="btn btn-dark" style="color:pink" href="/accounts/logout/">
                            로그아웃
                        </a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <!-- Button trigger modal -->
                    <a role="button" class="btn pink btn-dark" data-toggle="modal" data-target="#loginModal"
                       style="color:pink">
                        로그인
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i> &nbsp;&nbsp;로그인</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <sapn aria-hidden="true">&times;</sapn>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm"
                           href="{% provider_login_url 'google' %}">
                            <i class="fab fa-google"></i>&nbsp;&nbsp;구글로 로그인하기</a>
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/"><i
                                class="far fa-envelope"></i>&nbsp;&nbsp;이메일로 로그인하기</a>
                    </div>
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup/"><i
                                class="far fa-envelope"></i>&nbsp;&nbsp;이메일로 가입하기</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function searchWork(){
        let searchValue = document.getElementById('search-input').value.trim();
        if(searchValue.length > 1){
            location.href="/artwork/search/" + searchValue + "/";
        }
        else {
            alert('검색어(' + searchValue + ')가 너무 짧습니다.');
        }
    };
    document.getElementById('search-input').addEventListener('keyup',
            function(event){
                if(event.key=='Enter'){ searchWork();}
                }
     )

</script>