{% extends 'artwork/base.html' %}
{% block head_title %}
ArtWrok-{{ work.title }}
{% endblock %}
{% block main-area %}
<!-- Page content-->
<div class="container mt-3">
    <!-- Work header-->
        <div id="Work-area">
            <header class="mb-4 mx-3">
                <!-- Work categories-->
                <div class="text-muted fst-italic mb-2">{{work.category}} | {{work.commericial}}</div>
                <!-- Work title-->
                <h1 class="fw-bolder mb-1">{{work.title}}</h1>
            </header>
        </div>
    <div class="row">
        <!-- 대표 이미지 -->
        <div class="col-lg-8">
            <figure class="mb-4">
                {% if work.head_image %} <!-- 템플릿 태그 조건문. head_image 있을 때 -->
                    <img class="card-img-top" src="{{ work.head_image.url }}" alt="{{work}}의 head image"/>
                    {% else %} <!-- head_image 없을 때 random images 고정-->
                    <img class="card-img-top" src="https://picsum.photos/seed/{{work.id}}/700/700"
                         alt="random image"/>
                    {% endif %}
            </figure>
        </div>
        <!-- 작가소개 및 작품컨택 위젯 -->
        <div class="col-lg-4">
            <div class="card mb-4 bg-image-full" style="background-color:#ffffff">
                <div class="card-body">
                    <!-- 작가소개 -->
                    <div class="text-center mt-5 mb-3">
                        <img class="img-fluid rounded-circle mb-4"
                             src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg"
                             alt="..."/>
                        <h1 class="fs-3 fw-bolder">{{work.author}}</h1>
                        <p class="text-muted">작가 한줄 소개</p>
                        <div class="card-body">연락처</div>
                        <p class="text-muted mb-0">연락처는 결제 후에 교환할 수 있습니다. </p>
                    </div>
                    <hr size="10px">
                    <!-- 가격 및 컨택하기-->
                    <div class="mb-1" style="font-size:1.5em">가격
                        <p style='float:right'>{{work.price}}</p></div>
                </div>
                <button type="button" class="btn btn-outline-dark mx-3">문의하기</button>
                <button class="btn btn-dark flex-shrink-0 mx-3 my-3" type="button">결제하기</button>
            </div>
        </div>
            </div>
        <!-- Work content-->
        <section class="mb-5">
            <p class="fs-5 mb-4">{{work.description}}</p>
        </section>
        <!-- Comments section-->
        <section class="mb-5">
            <h5>문의 및 답변</h5>
            <hr size="10px">
            <div class="card">
                <div class="card-body">
                    <!-- Comment form-->
                    <form class="mb-4"><textarea class="form-control" rows="3"
                                                 placeholder="Join the discussion and leave a comment!"></textarea>
                    </form>
                    <!-- Comment with nested comments-->
                    <div class="d-flex mb-4">
                        <!-- Parent comment-->
                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                        alt="..."/></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            If you're going to lead a space frontier, it has to be government; it'll never be
                            private enterprise. Because the space frontier is dangerous, and it's expensive, and it
                            has unquantified risks.
                            <!-- Child comment 1-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                                                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                                alt="..."/></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    And under those conditions, you cannot establish a capital-market evaluation of
                                    that enterprise. You can't get investors.
                                </div>
                            </div>
                            <!-- Child comment 2-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                                                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                                alt="..."/></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When you put money directly to a problem, it makes a good headline.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single comment-->
                    <div class="d-flex">
                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                        alt="..."/></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            When I look at the universe and all the ways the universe wants to kill us, I find it
                            hard to reconcile that with statements of beneficence.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-5">
            <h5>이용후기</h5>
            <hr size="10px">
            <div class="card">
                <div class="card-body">
                    <!-- Comment form-->
                    <form class="mb-4"><textarea class="form-control" rows="3"
                                                 placeholder="Join the discussion and leave a comment!"></textarea>
                    </form>
                    <!-- Comment with nested comments-->
                    <div class="d-flex mb-4">
                        <!-- Parent comment-->
                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                        alt="..."/></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            If you're going to lead a space frontier, it has to be government; it'll never be
                            private enterprise. Because the space frontier is dangerous, and it's expensive, and it
                            has unquantified risks.
                            <!-- Child comment 1-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                                                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                                alt="..."/></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    And under those conditions, you cannot establish a capital-market evaluation of
                                    that enterprise. You can't get investors.
                                </div>
                            </div>
                            <!-- Child comment 2-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                                                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                                alt="..."/></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When you put money directly to a problem, it makes a good headline.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single comment-->
                    <div class="d-flex">
                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                        alt="..."/></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            When I look at the universe and all the ways the universe wants to kill us, I find it
                            hard to reconcile that with statements of beneficence.
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
{% endblock %}