{% extends 'artwork/base.html' %}
{% block main-area %}
<!-- header -->
<div class="bg-dark">
    <div class="container py-4 px-4 px-lg-2">
        <div class="text-white py-4">
            <h1 class="display-4 fw-bolder">ART LIST</h1>
            <h6 class="lead fw-normal text-white-50 mb-0">커미션은 상업적인 용도로 사용할 수 없습니다.</h6>
        </div>
    </div>
    <!-- Category navbar -->
    <nav class="navbar navbar-expand navbar-dark container px-4 px-lg-2">
        <div class="navbar-nav text-white ">
            <ul class="navbar-nav">
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{{c.get_absolute_url}}">{{c}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
<div class="container px-2 px-lg-2 mt-4">
    <h5> n개의 작품 {% if category %} - {{category}} {% endif %}
    </h5>
    <hr size="10px">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 ">
        {% if work_list.exists %}
        {% for work in work_list %}
        <!-- Work List-->
        <div class="col my-3">
            <div class="card border-light h-100" id="work-{{work.pk}}">
                <!-- Work image-->
                <a class="" href="{{ work.get_absolute_url }}">
                    {% if work.head_image %} <!-- 템플릿 태그 조건문. head_image 있을 때 -->
                    <img class="card-img-top" src="{{ work.head_image.url }}" alt="{{work}}의 head image"/>
                    {% else %} <!-- head_image 없을 때 random images 고정-->
                    <img class="card-img-top" src="https://picsum.photos/seed/{{work.id}}/1000/800"
                         alt="random image"/>
                    {% endif %}
                </a>
                <!-- Work details-->
                <div class="card-body p-1">
                    <div class="pt-1">
                        <!-- work title-->
                        <div class="mb-1" style="color:gray;font-size:12px">{{work.category}}</div>
                        <a class="text-decoration-none text-dark" href="{{ work.get_absolute_url }}">
                            <h5 class="fw-bolder">{{work.title}}</h5>
                        </a>
                        <div class="mb-1" style="font-size:15px">{{work.author}}<span> 작가</span>
                            <h5 style='float:right'>{{work.price}}</h5></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>아직 게시물이 없습니다.</h2>
        {% endif %}
    </div>
</div>
{% endblock %}