{% extends 'artwork/base.html' %}
{% block head_title %}
    {{ book.title }}
{% endblock %}
{% block main-area %}
            <div id ="book-area" class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">

                        <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />

                    </div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">{{work.title}}</h1>
                        <div class="fs-5 mb-5">
                            <span>{{work.price}}</span><br>

                        </div>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}