{% extends 'artwork/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
{{ work.title }} - {{work.category}}
{% endblock %}
{% block main-area %}
<!-- Page content-->
<div class="container mt-3">
    <!-- Work header-->
    <div id="Work-area">
        <header class="mb-4 mx-3">
            <!-- Work categories-->
            <div class="text-muted fst-italic mb-2">{{work.category}} | {{work.commericial}}</div>
            <!-- Work title-->
            <h1 class="fw-bolder mb-1" style="display:inline;">{{work.title}}</h1>
            <!-- 특정한 유저에게만 수정할 수 있는 버튼 보여줌-->
            {% if user.is_authenticated and user == work.author %}
            <a href="/artwork/update_work/{{work.pk}}/"
               class="btn btn-dark float-right mt-3 " style="color:pink">
                <i class="fas fa-pencil-ruler"></i>
                작품수정
            </a>
            {% endif %}
        </header>
    </div>
    <div class="row">
        <!-- 대표 이미지 -->
        <div class="col-lg-8">
            <figure class="mb-4">
                {% if work.content_image %} <!-- 템플릿 태그 조건문. cotent_image 있을 때 -->
                <img class="card-img-top" src="{{ work.content_image.url }}" alt="{{work}}의 head image"/>
                {% elif work.head_image %} <!-- 템플릿 태그 조건문. cotent_image 있을 때 -->
                <img class="card-img-top" src="{{ work.head_image.url }}" alt="{{work}}의 head image"/>
                {% else %} <!-- 등록된 image 없을 때 random images 고정-->
                <img class="card-img-top" src="https://picsum.photos/seed/{{work.id}}/700/700"
                     alt="random image"/>
                {% endif %}
            </figure>

        </div>
        <!-- 작가소개 및 작품컨택 위젯 -->
        <div class="col-lg-4">
            <div class="card mb-4 bg-image-full" style="background-color:#ffffff">
                <div class="card-body">
                    <!-- 작가소개 -->
                    <div class="text-center mt-5 mb-3">
                        {% for c in creators %}
                        {% if c == work.creator %}
                        {% if c.profile_image %} <!-- 프로필 사진 있을 때 -->
                        <img class="img-fluid rounded-circle mb-4" width="150px"
                             src="{{c.profile_image.url}}"/>
                        {% else %}
                        <img class="img-fluid rounded-circle mb-4" width="150px"
                             src="{{c.get_avatar_url}}"/>
                        {% endif %}

                        <h3 class="fs-3 fw-bolder">{{c}} 작가</h3>
                        <p class="text-muted">{{work.author}}</p>
                        <p class="text-muted">{{c.intro}}</p>
                        <hr size="10px">
                        <h4>Contact</h4>
                        <p class="text-muted mb-0">이메일 : {{c.email}}</p>
                        <p class="text-muted mb-0">{{c.contact}}</p>
                        <p class="text-muted mb-0">연락가능 시간 : 0시~0시</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                        <p class="text-center text-muted"> 로그인 후 문의하실 수 있습니다.</p>
                <button type="button" class="btn btn-outline-dark mx-3" style="background-color:pink;border:pink">작가에게 문의 남기기</button>
                    <hr size="10px">

                    <div class="card-body mb-1" style="font-size:1.5em">가격
                        <p style='float:right'>{{work.price}}원~</p></div>
                <button class="btn btn-dark flex-shrink-0 mx-3 my-3" type="button" style="color:pink">결제하기</button>
            </div>
        </div>
    </div>
    <!-- Work content-->
    <section class="mb-5">
        <p class="fs-5 mb-4">{{work.get_description_markdown | safe }}</p>
        <!-- 태그 -->
        {% if work.tags.exists %}
        <i class="fas fa-tags"></i>
        {% for tag in work.tags.all %}
        <a href="{{tag.get_absolute_url}}"><span class="text-muted">{{tag}}</span></a>
        {% endfor %}
        <br/>
        {% endif %}
    </section>
    <!-- Comments section-->
    <section class="mb-5">
        <h4>이용후기</h4>
        <hr size="10px">
        <div class="card">
            <div class="card-body">
                <!-- Comment form -->
                {% if user.is_authenticated %}
                <form class="mb-4" id="comment-form" method="POST" action="{{post.get_absolute_url}}new_comment/">
                    {% csrf_token %} <!-- 폼 사용시 반드시 사용. crosssite request 폴저링? 웹사이트공격중하나. 접근하려는데 접근안되는 문제점해결하기위해 추가-->
                    <div class="form-group">
                        {{comment_form | crispy}}
                    </div>
                    <button type="submit" class="btn btn-dark float-right" style="color:pink">후기 남기기</button>
                </form>
                {% else %}
                <a role="button" class="btn btn-outline-dark" href="#"
                   data-toggle="modal" data-target="#loginModal">
                    Log in and leave a comment</a>
                {% endif %}
                <!-- Single comment-->
                {% if work.comment_set.exists %}
                {% for comment in work.comment_set.all %}
                <div class="d-flex" id="comment-{{comment.pk}}">
                    <div class="flex-shrink-0 mr-2">
                        <img class="rounded-circle" src="{{comment.get_avatar_url}}" alt="{{comment.author}}"
                             width="60px"/>
                    </div>
                    <div class="ms-3">
                        <div class="fw-bold">{{comment.author.username}} &nbsp;&nbsp;&nbsp;
                            <small class="text-muted">{{comment.created_at}}</small></div>
                        <p>{{comment.content | linebreaks}}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}