{% extends 'artwork/base.html' %}
{% block head_title %}
    ArtWork-About Us
{% endblock %}
{% block main-area %}
<h1>회사소개페이지</h1>
<div class="container">
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Full Width Backgrounds</h2>
                    <p class="lead">A single, lightweight helper class allows you to add engaging, full width background
                        images to sections of your page.</p>
                    <p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting
                        here
                        on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the
                        universe.</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}