<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>ARTWORK-{% if creator %}{{creator}}{% else %}{{user}} {% endif %}
    </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{% static 'artwork/bootstrap/bootstrap.min.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/home.css' %}" type="text/css" media="screen">
    <script src="https://kit.fontawesome.com/6c6fea15a8.js" crossorigin="anonymous"></script>
</head>
<body class="pt-5">
<!--navbar-->
{% include 'artwork/navbar.html' %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="container text-center text-white my-2">
        {% if creator %}
        {% for c in creator_list %}
        {% if creator == c %}
        <div class="px-5 mx-5">
        <div class="row">
            <div class="col-lg-7">
                          <img class="img-fluid rounded-circle mb-4" width="150px" src="{{c.profile_image.url}}"/>
            <h1 class="fs-3 fw-bolder">{{c}} 작가</h1>
            <h4 class="lead">{{c.intro}}</h4>
            </div>
            <div class="col-lg-4 pt-5">
                        <h1>Contact</h1>
                    <hr class="my-4" style="border:0;width:50px;height:2px;background: #fff;">
        <p class=" mb-0">이메일 : {{c.email}}</p>
        <p class=" mb-0">{{c.contact}}</p>
        <p class=" mb-0">연락가능 시간 : 0시~0시</p>
            </div>
        </div>
        </div>


        {% endif %}
        {% endfor %}
        {% elif user.socialaccount_set.all.0.get_avatar_url %}
        <img class="img-fluid rounded-circle mb-4" width="150px" src="{{user.socialaccount_set.all.0.get_avatar_url}}"/>
        <h1 class="text-white fs-3 fw-bolder" style="color:pink">{{user}}</h1>
        <p class="text-white mb-0">{{user.email}}</p>
        {% else %}
        <img class="img-fluid rounded-circle mb-4" width="150px"
             src="https://doitdjango.com/avatar/id/403/06906de089c1792c/svg/{{user.email}}/">
        <h1 class="text-white fs-3 fw-bolder" style="color:pink">{{user}}</h1>
        <p class="text-white mb-0">{{user.email}}</p>
        {% endif %}
    </div>
</header>

<div class="container px-2 px-lg-2 mt-4">
    <h5 class="float-left pt-1">
        나의 작품 리스트
    </h5>
    <a class="btn btn-small float-right btn-dark" style="color:pink" href="/artwork/create_work">
        <i class="fas fa-plus"></i> 새 작품등록
    </a>
    <div style="clear:both;"></div>
    <hr size="10px">
    <!-- Work List-->
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 ">
        <!-- 로그인 user랑 work author가 같은 작품 리스트만 보이도록-->
        {% if creator_work %}
        {% for work in creator_work %}
        {% if user.is_authenticated and user == work.author %}
        <div class="col my-3">
            <div class="card border-light h-100" id="work-{{work.pk}}">
                <!-- Work image-->
                <a href="{{ work.get_absolute_url }}">
                    {% if work.head_image %} <!-- 템플릿 태그 조건문. head_image 있을 때 -->
                    <img class="card-img-top" src="{{ work.head_image.url }}" alt="{{work}}의 head image"/>
                    {% else %} <!-- head_image 없을 때 random images 고정-->
                    <img class="card-img-top" src="https://picsum.photos/seed/{{work.id}}/900/650"
                         alt="random image"/>
                    {% endif %}
                </a>
                <!-- Work details-->
                <div class="card-body p-1">
                    <div class="pt-1">
                        <!-- work title-->
                        <div class="mb-1" style="color:gray;font-size:12px">{{work.category}}</div>
                        <a class="text-decoration-none text-dark" href="{{ work.get_absolute_url }}">
                            <h5 class="fw-bolder">{{work.title}}</h5>
                        </a>
                        <div class="mb-1" style="font-size:15px">{{work.creator}}<span> 작가</span>
                            <h5 style='float:right'>{{work.price}}원~</h5></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        {% for work in work_list %}
        {% if user.is_authenticated and user == work.author %}
        <div class="col my-3">
            <div class="card border-light h-100">
                <!-- Work image-->
                <a href="{{ work.get_absolute_url }}">
                    {% if work.head_image %} <!-- 템플릿 태그 조건문. head_image 있을 때 -->
                    <img class="card-img-top" src="{{ work.head_image.url }}" alt="{{work}}의 head image"/>
                    {% else %} <!-- head_image 없을 때 random images 고정-->
                    <img class="card-img-top" src="https://picsum.photos/seed/{{work.id}}/900/650"
                         alt="random image"/>
                    {% endif %}
                </a>
                <!-- Work details-->
                <div class="card-body p-1">
                    <div class="pt-1">
                        <!-- work title-->
                        <div class="mb-1" style="color:gray;font-size:12px">{{work.category}}</div>
                        <a class="text-decoration-none text-dark" href="{{ work.get_absolute_url }}">
                            <h5 class="fw-bolder">{{work.title}}</h5>
                        </a>
                        <div class="mb-1" style="font-size:15px">{{work.creator}}<span> 작가</span>
                            <h5 style='float:right'>{{work.price}}원~</h5></div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

    </div>
    <!-- Pagination-->
    {% if is_paginated %}
    <ul class="pagination justify-content-center my-4">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" style="color:#F4a4cc" tabindex="-1"
               aria-disabled="true">&larr; Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Previous</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}" style="color:#f4A4CC">Next &rarr;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#!">Next &rarr;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>


<!-- Footer-->
{% include 'artwork/footer.html' %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>
</html>
